@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

/* material design icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* theme rules */
.bg-primary {
    background-color:#0065A0 !important;
}
enviroCar-one {
    background-color:#0065A0;
}
enviroCar-two {
    background-color:#8CBF3F;
}

html, body {
    height: 100%;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif !important;
}

/* navigation bar */
.navbar {
    height: 30px;
    border-radius: 0px !important;
}
.navbar-brand {
    height: 26px !important;
    padding-left: 16px !important;
    margin-right: 0px !important;
}
.navbar-collapse {
    background-color: #0065A0;
}
.navbar-collapse.collapse.in {
    /*background-color: #048ABF !important;*/
    background-color: #048ABF !important;
}
.nav-item {
    font-size: 16px;
    margin-left: 16px;
}
@media (min-width: 1300px) {
    .nav-item {
        font-size: 18px;
        margin-left: 24px;
    }
}
@media (max-width: 976px) and (min-width: 768px) {
    .nav-item {
        font-size: 15px;
        margin-left: 2px;
    }
}
.nav-link {
    padding-bottom: 5px !important;
}
.nav-item>a {
    color: #FFF !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #F3F3F3 !important;
    color: rgba(0,101,160,0.7) !important;
}
.navbar-nav {
/*    position: relative;
    bottom: -6px;*/
}


/* Carousal Image gallery */
.headergallery {
    width: 100%; 
    height: 66%;
}
#myCarousel {
    height:100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: #fff;
    text-shadow: 1px 1px 2px #272e36;
}

.backgroundOne {
    background-image: url("..//assets/pexels3.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    width:100%; 
    height: 100%;
}
.backgroundTwo {
    background-image: url("..//assets/pexels1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    width:100%; 
    height: 100%;
}
.backgroundThree {
    background-image: url("..//assets/pexels2.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%;
    width:100%; 
    height: 100%;
}
div.transbox {
    max-height: 70%;
    max-width: 50%;
    background-color: rgba(0,0,0,0.0);
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 15%;
}
div.transbox h2 {
    text-align: center;
    color: #fff;
    margin: 5%;
    font-weight: bold;
    text-shadow: 1px 1px 2px #272e36;
    padding-bottom: 16px;
}
div.transbox p {
    text-align: center;
    font-size: 18px;
    margin: 5%;
    text-shadow: 1px 1px 2px #272e36;
    /*color: #ffffff;*/
}
@media (max-width: 700px) {
    .headergallery {
        width: 100%; 
    }
    div.transbox {
        background-color: rgba(0,0,0,0.7);
        color: #ffffff;
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        width: 80%;
        max-width: 80%;
    }
    .backgroundOne {
        background-image: url("..//assets/pexels3.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100% 100%;
    }
    .backgroundTwo {
        background-image: url("..//assets/pexels1.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100% 100%;
    }
    .backgroundThree {
        background-image: url("..//assets/pexels2.jpeg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100% 100%;
    }
    div.transbox h2 {
        text-align: center;
        color: #fff;
        margin: 5%;
        font-weight: bold;
        font-size: 18px;
        text-shadow: 1px 1px 2px #272e36;
        padding-bottom: 16px;
    }
    div.transbox p {
        text-align: center;
        font-size: 16px;
        margin: 5%;
        text-shadow: 1px 1px 2px #272e36;
        /*color: #ffffff;*/
    }
}

.absolute-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h3 {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.item {
    position:relative;
}

/* Sections */
section {
    padding: 70px 0;
}

@media (max-width: 992px) {
    section {
        padding: 24px 0;
    }
}

.card-body {
    background-color: #fff;
}

.img-frame {
    height: auto;      /* equals max image height */
    width: 100%;
    white-space: nowrap; /* this is required unless you put the helper span closely near the img */
    text-align: center; 
    margin: auto;
}
@media (max-width: 991px) {
    .img-frame-1 {
        margin-top: 48px !important;
        margin-bottom: 48px !important;
        padding-left: 5% !important;
        padding-right: 2% !important;
    }
    .img-frame-2 {
        margin-top: 48px !important;
        margin-bottom: 48px !important;
        padding-left: 2% !important;
        padding-right: 5% !important;
    }
}

.helper {
    max-height: 400px !important;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img-frame>img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 400px !important;
    max-width: 100%;
    margin: auto;
}

iframe {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 400px;
    max-width: 100%;
}


/* Services */

/* App Section */
.sectionApp {
    /* The image used */
    /*background-image: url("..//assets/gasoline.jpg");*/

    /* Full height */
    height: auto; 
    background-color: #FFF !important;
    padding-bottom: 10%; 
    padding-top: 10%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Analysis Section */
.sectionAnalysis { 
    background-color: #f3f3f3; 
    padding-bottom: 10%; 
    padding-top: 10%;
}
/* Analysis Section */
.sectionProducts { 
    background-color: #fff; 
    padding-bottom: 10%; 
    padding-top: 10%;
}
.section-heading {
    color: #000000;
    opacity: 1;
    z-index: 20;
    font-weight: 200;
    /*    font-weight: bold;
        text-shadow: 1px 1px 2px #272e36;*/
}
.section-heading-spacer {
    border-top: 1px solid #ccc;
}
.section-lead {
    color: #555555;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
}
@media (max-width : 460px ) {
    .section-heading {
        text-align: center;
    }
    .section-lead {
        font-size: 16px;
        text-align: center;
    }
}
.big-btn{
    padding: 10px 0px 11px 0px;
    width: 215px;
    margin-top:5px;
}
.big-btn i{
    font-size: 65px;
    margin-right: 0px !important;
}
.big-btn strong{
    font-size: 25px;
    text-shadow: 1px 2px 0px #34659B;
    color: #fff;
    line-height: 24px;
}
.big-btn .btn-text{
    margin-top:6px;
}
.big-btn small{
    color: #FFF;
    font-size: 75%;
}
.android-btn{
    width: 240px;
    padding: 13px 17px 13px 0px !important;
    background-color: #000;
    border-color: #000;
}
.android-btn:hover{
    background-color: #272727;
}
.android-btn i{
    font-size: 55px;
}
.android-btn .btn-text{
    margin-top: 0px;
}
.android-btn strong{
    font-size: 25px;
    text-shadow: none;
    color: #fff;
    line-height: 24px;
}



.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
}

header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}


.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/envCar_Foto06.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.whitebox {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
}

.whitebox>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
    color: #000;
}
@media (max-width: 460px) {
    .whitebox>h1 { 
        font-size: 2em !important; 
        color: #000;
        text-align: center;
    }
}

.intro-divider {
    /*width: 400px;*/
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.full-width {
    width: 94% !important;
    max-width: 94% !important;
    min-width: 94% !important;
    margin: auto;
}

.whitebox>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: #000;
}
@media (max-width: 460px) {
    .whitebox>h3 { 
        font-size: 1em !important; 
        color: #000;
        text-align: center;
    }
}

.list-inline-item {
}

/* IMAGE BACKGROUND DIVIDER */
.wrapper1 {
    width: 100%;
    /* whatever width you want */
    /*display: inline-block;*/
    position: relative; }
.wrapper1:after {
    padding-top: 24.75%;
    /* 16:9 ratio */
    display: block;
    content: ''; }
.divider1 {
    background-image: url("../assets/envCar_Foto06.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fill parent */
    /*background-color: deepskyblue;*/
    /* let's see it! */
    display: inline-block; }

/* Section PRESS */
.nomargin {
    margin: 0px !important;
}
.noPadding {
    padding: 0px !important;
}
@media (max-width: 575px) {
    .noPaddingGtXs {
        padding: 0px !important;
    }
}
.posts {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 5%;
}
.press-heading {
    margin-top: 0px;
}
@media (max-width: 575px) {
    .press-heading {
        margin-top: 16px;
    }
}
.press-pic {
    max-width: 100%;
    height: auto;
}
.press-pic-gtXS {
    max-width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30%;
}
.press-link {
    font-size: 80%;
}
.authordiv {
    float: right;
}
@media (max-width: 540px) {
    .authordiv {
        padding-bottom: 32px;
    }
}

/* Section PARTNERS */
.sectionPartner {
    padding-bottom: 10%;
}
.partner-section-heading {
    margin-bottom: 0px;
    padding-bottom: 48px;
}
.partner-padding {
    padding: 0px 48px 0px 48px !important;
}

/* footer */
.footerdiv {
    margin-left: 2% !important;
    margin-right: 2% !important;
    padding: 0px;
}
.footerdiv>div{
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-item>ul {
    list-style-type: none;
    padding-left: 16px;
}
.footer-item>ul>li>a {
    color: #fff;
}
.footer-item>h3 {
    font-size: 16px;
}
.footer-logo {
    max-width: 70%;
    height: auto;
}

.img-hover img{
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -o-transition: all .2s ease; /* IE 9 */
    -ms-transition: all .2s ease; /* Opera */
    transition: all .2s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translateZ(0) scale(1.20);
}
.grayscale {
    -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
    -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
    filter: brightness(1.10) grayscale(100%); 
}

.product-text {
    font-size: 18px;
    text-align: center;
    height: 50px;
}
@media (min-width: 1300px) {
    .product-text {
        font-size: 18px;
        height: 75px;
    }
}
@media (max-width: 1299px) and (min-width: 977px) {
    .product-text {
        font-size: 18px;
        height: 65px;
    }
}
@media (max-width: 976px) and (min-width: 768px) {
    .product-text {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .product-text {
        font-size: 14px;
        height: 30px;
    }
}
.product {
    padding-bottom: 36px !important;
}